.text-separator {
    width: 88%;
    height: 45px;
    margin-top: 100px;
    background-size: contain;
}

.mobile-text-separator {
    width: 85%;
    height: 20px;
    margin-top: 80px;
    background-size: contain;
}

.contact-mobile-text-separator {
    width: 85%;
    height: 20px;
    margin-top: 10px;
    background-size: contain;
}

// .item{
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: center;
// }

.section-one {
  width: 100vw;
  overflow: hidden;

  & video {
    max-width: 100vw;
    min-width: 100vw;
    background-size: contain;
  }
}

.home {
  margin-top: 100px;
  width: 100vw;

  &_first-slider {
    position: relative;

    & h3 {
      font-family: $main-font;
      font-size: $h3-size;
      color: white;
      width: 570px;
      text-align: center;
      background-color: $primary-color;
      padding: 10px 10px;
      margin: 10px;
      position: absolute;
        // left: 50vw;
        bottom: 140px;
    }

    &_h4 {
      width: 380px;
      text-align: center;
      background-color: white;
      opacity: 0.6;
      padding: 1px 10px;
      margin: 10px;
      position: absolute;
        // left: 10vw;
        bottom: 60px;
    }

    & h4 {
      font-family: $main-font;
      font-size: 22px;
      // color: $text-color-dark;
      color: black;
      opacity: 1.0;
    }

    &_p {
      width: 800px;
      background-color: #7F7878;
      opacity: 0.8;
      padding: 20px 20px;
      margin: 5px;
      position: absolute;
        left: 200px;
        top: 340px;
    }

    & p {
      text-align: justify;
      font-family: $main-font;
      font-size: 17px;
      font-weight: 300;
      color: white;
      opacity: 1.0 !important;
    }

    &_button {
      width: 220px;
      background-color: $primary-color;
      color: white;
      font-size: 22px;
      padding: 8px 5px 8px 25px;
      font-weight: 400;
      align-text: left;
      font-family: $main-font;
      border-radius: 3px;
      position: absolute;
        left: 200px;
        top: 560px;
      display: flex;
      align-items: center;
      margin: 30px 10px 10px;

      & i {
        margin: 0 10px 0 40px;
        font-size: 30px;
      }

      & h5 {
        margin: 0;
      }

      &:hover {
        text-decoration: none;
        color: white;
        background-color: $primary-color-dark;
      }
    }
  }

  &_second-slider {

  }

  &_third-slider {

  }

}

@media only screen and (max-width: 1280px) {

  .section-one {
    width: 100vw;
    overflow: hidden;

    & video {
      max-width: 100vw;
      min-width: 100vw;
      background-size: contain;
    }
  }

  .home {
    margin-top: 100px;

    &_first-slider {
      position: relative;

      & h3 {
        font-family: $main-font;
        font-size: $h3-size;
        color: white;
        width: 550px;
        text-align: center;
        background-color: $primary-color;
        padding: 10px 10px;
        margin: 10px;
        position: absolute;
          bottom: 140px;
      }

      &_h4 {
        width: 380px;
        text-align: center;
        background-color: white;
        opacity: 0.6;
        padding: 5px 10px;
        margin: 10px;
        position: absolute;
          bottom: 40px;
      }

      & h4 {
        font-family: $main-font;
        font-size: 22px;
        // color: $text-color-dark;
        color: black;
        opacity: 1.0;
      }

      &_p {
        width: 780px;
        background-color: #7F7878;
        opacity: 0.8;
        padding: 15px 20px;
        margin: 5px;
        position: absolute;
          left: 160px;
          top: 350px;
      }

      & p {
        text-align: justify;
        font-family: $main-font;
        font-size: 17px;
        font-weight: 300;
        color: white;
        opacity: 1.0 !important;
      }

      &_button {
        width: 220px;
        background-color: $primary-color;
        color: white;
        font-size: 22px;
        padding: 8px 5px 8px 25px;
        font-weight: 400;
        align-text: left;
        font-family: $main-font;
        border-radius: 3px;
        position: absolute;
          left: 160px;
          top: 560px;
        display: flex;
        align-items: center;
        margin: 30px 10px 10px;

        & i {
          margin: 0 10px 0 40px;
          font-size: 30px;
        }

        & h5 {
          margin: 0;
        }

        &:hover {
          text-decoration: none;
          color: white;
          background-color: $primary-color-dark;
        }
      }

    }

    &_second-slider {


    }

    &_third-slider {


    }

  }

}

@media only screen and (max-width: 950px) {

  .section-one {
    width: 100vw;
    overflow: hidden;

    & video {
      margin-top: 30px;
      max-width: 100vw;
      min-width: 100vw;
      background-size: contain;
    }
  }

  .home {

    &_first-slider {
      position: relative;

      & h3 {
        font-family: $main-font;
        font-size: 24px;
        color: white;
        width: 480px;
        text-align: center;
        background-color: $primary-color;
        padding: 10px 10px;
        margin: 10px;
        position: absolute;
          bottom: 100px;
      }

      &_h4 {
        width: 360px;
        text-align: center;
        background-color: white;
        opacity: 0.6;
        padding: 5px 10px;
        margin: 10px;
        position: absolute;
          bottom: 40px;
      }

      & h4 {
        font-family: $main-font;
        font-size: 18px;
        // color: $text-color-dark;
        color: black;
        margin: 5px;
        opacity: 1.0;
      }

      &_p {
        width: 720px;
        background-color: #7F7878;
        opacity: 0.8;
        padding: 15px 20px;
        margin: 5px;
        position: absolute;
          left: 100px;
          top: 290px;
      }

      & p {
        text-align: justify;
        font-family: $main-font;
        font-size: 14px;
        font-weight: 300;
        color: white;
        opacity: 1.0 !important;
      }

      &_button {
        width: 220px;
        background-color: $primary-color;
        color: white;
        font-size: 20px;
        padding: 8px 5px 8px 25px;
        font-weight: 400;
        align-text: left;
        font-family: $main-font;
        border-radius: 3px;
        position: absolute;
          left: 100px;
          top: 520px;
        display: flex;
        align-items: center;
        margin: 30px 10px 10px;

        & i {
          margin: 0 10px 0 40px;
          font-size: 30px;
        }

        & h5 {
          margin: 0;
        }

        &:hover {
          text-decoration: none;
          color: white;
          background-color: $primary-color-dark;
        }
      }

    }

    &_second-slider {

    }

    &_third-slider {

    }

  }

}

@media only screen and (max-width: 850px) {

  .first-section {
    width: 100vw;
    overflow: hidden;

    & video {
      margin-top: 30px;
      max-width: 100vw;
      min-width: 100vw;
      background-size: contain;
    }
  }

  .text-separator {
      width: 85%;
      height: 25px;
      margin-top: 80px;
      background-size: contain;
  }

  .home {

    &_first-slider {
      position: relative;

      & h3 {
        font-family: $main-font;
        font-size: 9px;
        color: white;
        width: 200px;
        text-align: center;
        background-color: $primary-color;
        padding: 8px 5px;
        margin: 5px 0px;
        position: absolute;
          bottom: 5px;
      }

      &_h4 {
        width: 170px;
        text-align: center;
        background-color: white;
        opacity: 0.6;
        padding: 3px 5px;
        margin: 5px 0px;
        position: absolute;
          bottom: 5px;
          right: 0;
      }

      & h4 {
        font-family: $main-font;
        font-size: 9px;
        // color: $text-color-dark;
        color: black;
        margin: 5px 0px;
        opacity: 1.0;
      }

      &_p {
        width: 300px;
        background-color: #7F7878;
        opacity: 0.8;
        padding: 10px 10px;
        margin: 10px;
        position: absolute;
          left: 30px;
          top: 250px;
      }

      & p {
        text-align: justify;
        font-family: $main-font;
        font-size: 11px;
        font-weight: 300;
        color: white;
        opacity: 1.0 !important;
      }

      &_button {
        width: 160px;
        background-color: $primary-color;
        color: white;
        font-size: 15px;
        padding: 7px 5px 7px 15px;
        font-weight: 400;
        align-text: left;
        font-family: $main-font;
        border-radius: 3px;
        position: absolute;
          left: 30px;
          top: 480px;
        display: flex;
        align-items: center;
        margin: 30px 10px 10px;

        & i {
          margin: 0 10px 0 20px;
          font-size: 20px;
        }

        & h5 {
          font-size: 14px;
          margin: 0;
        }

        &:hover {
          text-decoration: none;
          color: white;
          background-color: $primary-color-dark;
        }
      }
    }

    &_second-slider {
      background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.15)
      ),
        url("https://s3.amazonaws.com/serdraga/DESCOLE+CANAL+CIENAGA+DE+LA+VIRGEN+-+CARTAGENA.JPG.png");
      height: 80vh;
      width: 100%;
      background-size: cover;

    }

    &_third-slider {
      background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.15)
      ),
        url("https://s3.amazonaws.com/serdraga/RELIMPIA+ISLA+DE+BELEN+-+CARTAGENA.png");
      height: 80vh;
      width: 100%;
      background-size: cover;

    }

  }
  #myCarousel {
    height: 80vh;

    & * img {
      height: 90vh;
      background-size: cover;
    }
  }

}

