.section-six {
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  padding: 100px 100px;

  &_text {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 10px;

    & h4 {
      font-family: $main-font;
      color: $secondary-color;
      font-size: $h4-size;
      text-align: left;
      font-weight: 500;
      margin-bottom: 25px;
    }

    & p {
      font-family: $main-font;
      color: $text-color;
      font-size: $p-size;
      text-align: justify;
      font-weight: 300;
    }

    &_button {
      display: flex;
      font-weight: 500 !important;
      align-items: center;
      margin-top: 30px;
      color: $secondary-color !important;
      font-family: $main-font;
      font-size: $h6-size;

      & h6 {
        font-weight: 500 !important;
      }

      & span {
        width: 22px;
        height: 22px;
        background-color: $primary-color;
        margin: 0 20px;
      }
    }

  }

  &_art {

    & img {
      width: 500px;
      height: 300px;
      background-size: cover;
    }

  }
}


@media only screen and (max-width: 1200px) {
    .section-six {
      display: flex;
      background-color: white;
      justify-content: space-between;
      width: 100%;
      padding: 70px 100px;

      &_text {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        & h4 {
          font-family: $main-font;
          color: $secondary-color;
          font-size: $h4-size;
          text-align: left;
          font-weight: 500;
        }

        & p {
          font-family: $main-font;
          color: $text-color;
          font-size: $p-size;
          text-align: justify;
          font-weight: 300;
        }

        &_button {
          display: flex;
          align-items: center;
          margin-top: 30px;
          color: $secondary-color !important;
          font-family: $main-font;
          font-size: $h6-size;

          & h6 {
            font-weight: 500 !important;
          }

          & span {
            width: 22px;
            height: 22px;
            background-color: $primary-color;
            margin: 0 20px;
          }
        }

      }

      &_art {

        & img {
          width: 400px;
          height: 240px;
          background-size: cover;
        }

      }
    }
}

@media only screen and (max-width: 1090px) {
    .section-six {
      display: flex;
      background-color: white;
      justify-content: space-between;
      width: 100%;
      padding: 70px 100px;

      &_text {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        & h4 {
          font-family: $main-font;
          color: $secondary-color;
          font-size: $h4-size;
          text-align: left;
          font-weight: 500;
        }

        & p {
          font-family: $main-font;
          color: $text-color;
          font-size: 12px;
          text-align: justify;
          font-weight: 300;
        }

        &_button {
          display: flex;
          align-items: center;
          margin-top: 30px;
          color: $secondary-color !important;
          font-family: $main-font;
          font-size: $h6-size;

          & h6 {
            font-weight: 500 !important;
          }

          & span {
            width: 22px;
            height: 22px;
            background-color: $primary-color;
            margin: 0 20px;
          }
        }

      }

      &_art {

        & img {
          width: 400px;
          height: 240px;
          background-size: cover;
        }

      }
    }
}

@media only screen and (max-width: 880px) {
    .section-six {
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
     flex-wrap: wrap;
      width: 100%;
      padding: 70px 20px;

      &_text {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        & h4 {
          font-family: $main-font;
          color: $secondary-color;
          font-size: 16px;
          text-align: left;
          font-weight: 500;
        }

        & p {
          font-family: $main-font;
          color: $text-color;
          font-size: 12px;
          text-align: justify;
          font-weight: 300;
        }

        &_button {
          display: flex;
          align-items: center;
          margin-top: 30px;
          color: $secondary-color !important;
          font-family: $main-font;
          font-size: $h6-size;

          & h6 {
            font-weight: 500 !important;
          }

          & span {
            width: 22px;
            height: 22px;
            background-color: $primary-color;
            margin: 0 20px;
          }
        }

      }

      &_art {

        & img {
          margin-top: 70px;
          width: 300px;
          height: 170px;
          background-size: cover;
        }

      }
    }
}


@media only screen and (max-width: 580px) {
    .section-six {
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
     flex-wrap: wrap;
      width: 100%;
      padding: 70px 20px;

      &_text {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        & h4 {
          font-family: $main-font;
          color: $secondary-color;
          font-size: 16px;
          text-align: left;
          font-weight: 500;
        }

        & p {
          font-family: $main-font;
          color: $text-color;
          font-size: 11px;
          text-align: justify;
          font-weight: 300;
        }

        &_button {
          display: flex;
          align-items: center;
          margin-top: 30px;
          color: $secondary-color !important;
          font-family: $main-font;
          font-size: $h6-size;

          & h6 {
            font-weight: 500 !important;
          }

          & span {
            width: 22px;
            height: 22px;
            background-color: $primary-color;
            margin: 0 20px;
          }
        }

      }

      &_art {

        & img {
          margin-top: 60px;
          width: 280px;
          height: 150px;
          background-size: cover;
        }

      }
    }
}
