<div class="hoxton-footer">
  <div class="hoxton-footer_logo">
    <%= image_tag 'white-logo.png' %>
    <p class="hidden-xs hidden-sm">"Servicios de Dragados y Construcciones presta servicio a toda la nacion Colombiana a través de los mejores certificados de calidad."</p>
    <p class="hidden-md hidden-lg hidden-xl">
      Barranquilla: <br>
       <i class="fas fa-phone-square"></i> +57 5 3720538 <br>
       <i class="fas fa-envelope-square"></i> serdraga@serdraga.com.co <br>
       <i class="fas fa-map-marker-alt"></i> Calle 37 # 46 - 60 <br>
       <br>
      Bogota: <br>
        <i class="fas fa-phone-square"></i> +57 5 7042354 <br>
        <i class="fas fa-envelope-square"></i> serdraga@serdraga.com.co <br>
        <i class="fas fa-map-marker-alt"></i> Av. Calle 26 # 69D - 91 Of. 409 <br>
    </p>
  </div>
  <div class="hoxton-footer_first-contact hidden-xs hidden-sm">
    <div class="hoxton-footer_first-contact_header">
      <%= image_tag 'gray-polygon.png' %>
      <h6>OFICINA BARRANQUILLA</h6>
    </div>
    <p>Direccion: Calle 37 # 46 - 60, Barranquilla, Colombia </p>
    <p>Email: serdraga@serdraga.com.co</p>
    <p>Telefono: +57 5 3720538</p>

  </div>
  <div class="hoxton-footer_second-contact hidden-xs hidden-sm">
    <div class="hoxton-footer_second-contact_header">
      <%= image_tag 'gray-polygon.png' %>
      <h6>OFICINA BOGOTA</h6>
    </div>
    <p>Direccion: Av. Calle 26 # 69D - 91 Of. 409, Bogota, Colombia</p>
    <p>Email: serdraga@serdraga.com.co</p>
    <p>Telefono: +57 5 7042354</p>
  </div>

  <div class="hoxton-footer_label">
      <p> Desarrollado por: <%= link_to 'Hoxton Digital', 'https://www.hoxton-digital.com' %></p>
  </div>
</div>
