<div class="contact">
  <div class="contact_first-section">
    <div class="contact_content">
      <h1 class="contact_content_header">CONTACTANOS <span>EMPRESA</span></h1>
      <p>Detalles de las diferentes sedes en el pais se encuentran al final de esta pagina. Envianos un mensaje con tu requerimiento y en menos de 24 horas te responderemos. Gracias!</p>
      <div class="contact_content_form">
        <form action="https://formspree.io/andrew.williams@serdraga.com.co" method="post">
          <input placeholder="Primer Nombre y Apellido" type="text"  value="" required>
          <input placeholder="Correo Electronico" name="email" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
          <span class="validation-text">Por favor coloca una direccion de correo valida.</span>
          <div class="flex">
            <textarea placeholder="Mensaje" name="message" rows="1" required></textarea>
          </div>
          <input class="contact_form_button" type="submit" value="Enviar">
        </form>
      </div>
    </div>
    <div class="contact_text hidden-md hidden-sm hidden-xs">
      <%= image_tag 'contact-image.png' %>
      <%= image_tag 'BANNER.png' %>
    </div>
  </div>
  <%#= image_tag 'text-separator.png', class: 'contact-text-separator hidden-xs hidden-sm' %>
  <%#= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
<!--   <div class="contact_second-section">
    <div class="contact_second-section_media">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube-square"></i>
    </div> -->
<!--     <p class="hidden-md hidden-sm hidden-xs">
      “Lideres en soluciones en ingeniería hidráulica y ambiental desde 1988”
    </p> -->
  </div>
</div>
