/* Main navbar */
.navbar-hoxton {
  background: white;
  transition: all 0.3s ease;
  height: 128px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 10px #999;
}

/* Logo */
.navbar-hoxton-brand img {
  height: 120px;
  padding: 5px 5px 5px 65px;
}
/* Right section */
.navbar-hoxton-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-hoxton-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-hoxton-link {
  font-family: $main-font;
  color: white;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  color: $third-color;
  padding: 50px 30px;

  &:active,
  &:visited {
    color: $third-color;
    text-decoration: none;
  }
}

.hoxton-link-hover {
    &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $primary-color;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
    }

    &:hover {
        color: $primary-color;
        text-decoration: none;
        &:after {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }
}

/* Dropdown menu */
.navbar-hoxton-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.fa-bars {
  color: $third-color;
  font-size: 30px;
}

.navbar-hoxton-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-family: $main-font;
  font-weight: lighter !important;
  color: $third-color!important;
  font-size: 18px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-hoxton-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $primary-color !important;
  font-weight: 400;
}
.navbar-hoxton-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  border-radius: 3px;
}


@media only screen and (max-width: 850px) {

  /* Logo */
  .navbar-hoxton-brand img {
    height: 80px;
    padding: 5px 5px;

  }
}


@media only screen and (max-width: 600px) {

  /* Logo */
  .navbar-hoxton-brand img {
    height: 66px;
    padding: 5px 5px;

  }
}
